@model Kutuphane_Otomasyonu.Model.Yazarlar

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="row">

    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <h2>Yazar Ekle</h2>
            </div>
            <div class="ibox-body">
                <form action="Ekle" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*- hata mesajı verdirmek için*@
                    <div class="form-group">
                        <strong>Yazar Adı</strong>
                        <input type="text" name="YazarAdi" class="form-control" />
                        @Html.ValidationMessageFor(x => x.YazarAdi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Ekle</button>
                        @Html.ActionLink(" Yazar Listesine Geri Dön", "/Index", null, new { @class = "btn btn-info fa fa-arrow-left " })
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>



